body{
    font-family: 'Faster One', cursive;
}
h1 {
    font-size: 4rem;
    text-align: center;
}
header p{
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}
p{
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

section{
    display: flex;
    justify-content: center;
}